streamlit
numpy
pandas
scikit-learn

# face recognition
dlib
git+https://github.com/ageitgey/face_recognition_models

setuptools

# database
supabase

# security
bcrypt

# QR code
segno

# image
Pillow

# audio/voice
librosa
resemblyzer
webrtcvad-wheels
soundfile
