streamlit==1.45.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2

# face recognition
cmake
dlib
face-recognition==1.3.0
face-recognition-models==0.3.0
setuptools==75.1.0

# database
supabase==2.10.0

# security
bcrypt==4.2.0

# QR code
segno==1.6.6

# image
Pillow==10.4.0

# audio/voice
librosa==0.10.2
resemblyzer==0.1.4
webrtcvad-wheels==2.0.14
soundfile==0.12.1
