# utilities
streamlit
numpy
pandas
scikit-learn

# face recognition
dlib-bin
face_recognition
setuptools

# database
supabase

# security
bcrypt

# QR code
segno

# image
Pillow

# frontend
streamlit

# audio/voice
librosa
resemblyzer
webrtcvad-wheels